.jumbotron
{
    background-color: rgb(138, 4, 87);
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    padding: 6rem;
    
    
}
.jumbotron a{
    color: white;
    text-decoration: none;
    margin-top: 0%;
    margin-left: 1rem;
    
}
.jumbotron nav{
    font-size: 20px;

}
.allposts a:hover{
    color:black;
    text-decoration: none;
}
.card-group{
    display: flex;
    justify-content: center;
    margin: 50px 50px 50px 50px;
}